@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@layer components {
  .form-wrapper {
    @apply flex flex-col gap-0 w-full py-1;
  }
  .form-label {
    @apply font-secondaryFont text-base font-medium text-slate-700 max-[900px]:text-sm;
  }
  .form-input {
    @apply bg-transparent border-b-2 border-slate-800 pl-2 py-1 outline-none  text-slate-900 italic;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* header */

/* body {
  font-family: "Solitreo", cursive;
} */

.background-gradiant {
  /* background: #ddd6f3;
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); 
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  );  */
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./pics/movie-bg.jpg) no-repeat;
  background-size: cover;
}
.background-gradiant::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
.message-modal {
  padding: 22px 60px !important;
  height: auto;
  max-width: 340px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 10px;
  z-index: 9999999;
  border-radius: 17px;
}
.message-modal button {
  font-size: 35px;
  position: absolute;
  left: 0;
  top: 0;
}
.message-modal h1 {
  color: #fff;
}
.message-modal.succes {
  background-color: rgb(87, 202, 87);
}
.message-modal.error {
  background-color: rgb(230, 42, 28);
}
.message-modal.opened {
  right: 10px;
}
.message-modal.closed {
  right: -100%;
}

.animation-wrapper {
  height: calc(100vh - 70px);
  background-color: rgb(14, 116, 144);
}
.search-slogan {
  font-size: 38px;
  background: #ffefba; /* fallback for old browsers */
  background: linear-gradient(to right, #825d90, #20002c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

